*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body{
    margin:0;
    background:#F5F3EF;
}

.login-wrapper{
    width:100%;
    height:100dvh;
    display:flex;
}


.login-left{
    flex:1;
    background: url('apparelbg.jpg') center center / cover no-repeat;
    position:relative;
}

.login-left::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(122,62,0,0.55); 
}

.brand{
    position:absolute;
    top:40px;
    left:50px;
    font-size:24px;
    font-weight:600;
    letter-spacing:2px;
    color:#fff;
    z-index:2;
}

.admin-side-text{
    position:absolute;
    top:160px;       
    left:50px;
    max-width:420px;
    color:#F3EEE6;
    z-index:2;
}

.admin-side-text h1{
    font-size:45px;
    line-height:1.2;
    margin-bottom:20px;
    text-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.admin-side-text p{
    font-size:18px;
    line-height:1.6;
    opacity:0.9;
}



.login-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#F5F3EF;
}

.login-box{
    width:380px;
    background:#FFFFFF;
    padding:50px 40px;
    border-radius:24px;
    box-shadow:0 25px 60px rgba(122,62,0,0.15);
    text-align:center;
}

.login-box h2{
    margin-bottom:30px;
    color:#7A3E00;
    letter-spacing:1px;
}

.login-box input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border-radius:14px;
    border:1px solid #ddd;
    font-size:14px;
    transition:.3s;
}

.login-box input:focus{
    border-color:#7A3E00;
    outline:none;
}

.login-box button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:30px;
    background:#7A3E00;
    color:#fff;
    font-weight:500;
    cursor:pointer;
    transition:.3s;
}

.login-box button:hover{
    background:#5c2f00;
}

.back-home{
    display:block;
    margin-top:20px;
    font-size:13px;
    text-decoration:none;
    color:#7A3E00;
}

.back-home:hover{
    text-decoration:underline;
}

.error{
    color:#c0392b;
    font-size:13px;
    margin-bottom:15px;
}
